@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

h1 {
    margin-left: 30px;
}

.box {
    box-sizing: border-box;
    margin: auto;
}

.restaurants {
    background-image: linear-gradient(to bottom right, pink, red);
    max-width: 50%;
    margin-left: 40px;
    margin: 30px;
}

body {
    background-color: plum;
}

h4, h2 {
    margin: 5px;
    font-family: "Shippori Mincho", serif;
}

h4 {
    font-weight: lighter;
}

li {
    list-style: none;
    padding-left: 30px;
}

input {
    width: 50%;
}

ul {
    padding-left: 0px;
    min-width: 50%;
}

address {
    font-family: "Shippori Mincho", serif;
    margin: 5px;
}